<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="typewriter">
    <h1>Hi, I'm Bailey Luu 👋 </h1>
  </div>
  <br>
  <div style="text-align: center;">
     <img class="avatar" src="{{url_for('static', filename='bailey2.jpg')}}" align="middle" />
  </div>
  <div style="text-align: center;">
    <a href="https://twitter.com/bailey_luu" target="_blank"><img class="media" src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png" alt="Twitter"></a>

     <a href="https://www.linkedin.com/in/baileyluu/" target="_blank"><img class="media" src="https://cdn-icons.flaticon.com/png/512/3536/premium/3536569.png?token=exp=1634523829~hmac=34bd907003ff206cae440046819922ab" alt="LinkedIn"></a>

    <a href="https://github.com/BaileyLuu" target="_blank"><img class="media" src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="Github"></a>

    <a href="https://drive.google.com/file/d/1pIyNFuZQxDjQrIjLiU-quoEfYkemZiBY/view?usp=sharing" target="_blank"><img class="media" src="https://cdn-icons-png.flaticon.com/512/909/909263.png" alt="Github"></a>

  </div>
  

  <div style="text-align: center;">
    <h2>About Me</h2>
    <p >I am a 3rd year Computer Security student at York University.</p>
    <p>I am a Hackathon Enthusiast. View my <a href="https://devpost.com/bailey-luu30">Devpost</a></p>
    <p>
    <p>I am a Technical Lead @ GDSC York University</p>

    </p>
  </div>
 
  

</body>
</html>